:root {
	--text:	var(--dark);
	--bkg:	var(--lght);

	--dark:	#212529;
	--lght:	#f8f9fa;
	--emph:	#f03e3e;
	--link:	#1971c2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text:	var(--lght);
		--bkg:	var(--dark);
		--link:	#4dabf7;
		--emph:	#fa5252;
	}
}

body {
	color: var(--text);
	background-color: var(--bkg);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji',
		'Noto Color Emoji', sans-serif;
	text-rendering: optimizeLegibility;
	line-height: 1.4;
	max-width: 800px;
	margin: 20px auto;
	padding: 0 10px;
}

header {
	border-bottom: 1px solid var(--text);
	margin-bottom: 1rem;
}

footer {
	border-top: 1px solid var(--text);
	margin-top: 1rem;
}

a, a:visited {
	color: var(--link);
	text-decoration: none;
}
a:hover {
	color: var(--link);
	text-decoration: underline;
}

a.for-image img {
	text-decoration: none;
}
a.for-image:hover {
	color: var(--link);
	text-decoration: none;
}
a.for-image:hover img {
	transform: scale(1.1);
}

img, video {
	max-width: 100%;
	height: auto;
	transition: transform 0.2s cubic-bezier(0.25, 1, 0.5, 1);
}

img.small {
	max-width: 32%;
	height: auto;
}

div.terms-container > div {
	display: inline-flex;
}

header nav ul {
	list-style-type: none;
	padding: 0;
	display: inline-flex;
	flex-wrap: wrap;
}

header nav li {
	white-space: nowrap;
	display: inline-flex;
	align-items: center;
	position: relative;
	padding-right: 2em;
}

/* term list: like tags
*/
ul.terms-list {
	list-style-type: none;
	padding: 0;
	display: inline-flex;
	flex-wrap: wrap;
}

ul.terms-list li {
	white-space: nowrap;
	display: inline-flex;
	align-items: center;
	position: relative;
}

ul.terms-list li.bullet::before {
	content: "•";
	margin: 0 0.5rem;
}

ul.terms-list li.spacing {
	break-after: always;
	white-space: break-spaces;
	line-break: anywhere;
}
ul.terms-list li.spacing:after {
	content: " ";
	display: block;
}

/*
// css only
// bug: bullet point visible before linewrap, should be hidden
ul.terms-list {
	list-style-type: none;
	padding: 0;
}
ul.terms-list li {
	white-space: nowrap;
}
ul.terms-list li {
	display: inline list-item;
}

ul.terms-list li:not(:last-child)::after {
	content: "•";
	margin: 0 0.5rem;
}
*/