:root {
	--text:	var(--dark);
	--bkg:	var(--lght);

	--dark:	#212529;
	--lght:	#f8f9fa;
	--emph:	#f03e3e;
	--link:	#1971c2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text:	var(--lght);
		--bkg:	var(--dark);
		--link:	#4dabf7;
		--emph:	#fa5252;
	}
}

body {
	color: var(--text);
	background-color: var(--bkg);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji',
		'Noto Color Emoji', sans-serif;
	text-rendering: optimizeLegibility;
	line-height: 1.4;
	max-width: 800px;
	margin: 20px auto;
	padding: 0 10px;
}

header {
	border-bottom: 1px solid var(--text);
	margin-bottom: 1rem;
}

footer {
	border-top: 1px solid var(--text);
	margin-top: 1rem;
}

a, a:visited {
	color: var(--link);
	text-decoration: none;
}
a:hover {
	color: var(--link);
	text-decoration: underline;
}

a.for-image img {
	text-decoration: none;
}
a.for-image:hover {
	color: var(--link);
	text-decoration: none;
}
a.for-image:hover img {
	transform: scale(1.1);
}

img, video {
	max-width: 100%;
	height: auto;
	transition: transform 0.2s cubic-bezier(0.25, 1, 0.5, 1);
}

img.small {
	max-width: 32%;
	height: auto;
}

div.terms-container > div {
	display: inline-flex;
}

header nav ul {
	list-style-type: none;
	padding: 0;
	display: inline-flex;
	flex-wrap: wrap;
}

header nav li {
	white-space: nowrap;
	display: inline-flex;
	align-items: center;
	position: relative;
	padding-right: 2em;
}

/* term list: like tags
*/
ul.terms-list {
	list-style-type: none;
	padding: 0;
	display: inline-flex;
	flex-wrap: wrap;
}

ul.terms-list li {
	white-space: nowrap;
	display: inline-flex;
	align-items: center;
	position: relative;
}

ul.terms-list li.bullet::before {
	content: "•";
	margin: 0 0.5rem;
}

ul.terms-list li.spacing {
	break-after: always;
	white-space: break-spaces;
	line-break: anywhere;
}
ul.terms-list li.spacing:after {
	content: " ";
	display: block;
}

/*
lightbox
src: https://danq.me/2025/08/15/details-summary-lightboxes-in-pure-html-css/
*/
.details-lightbox {
  summary {
    display: block;
    cursor: zoom-in;

    &::before {
      content: '';
      backdrop-filter: none;
      transition: backdrop-filter 0.5s, background 0.2s;
      background: transparent;
    }
  }

  & > div img {
    max-width: 95vw;
    max-height: 95vh;
    box-shadow: 0 0 12px #fff6;
    opacity: 0;
    transition: filter 0.3s, opacity 0.6s;
    filter: blur(6px);
  }

  &[open] > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 110;
    pointer-events: none;

    img {
      opacity: 1;
      filter: none;
    }
  }

  &[open] > summary {
    cursor: auto;

    &::before {
      content: '';
      background: #000a;
      backdrop-filter: blur(6px);
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vw;
      z-index: 109;
    }
  }
}

body:has(.details-lightbox[open]) {
  overflow: hidden;
}